/* * {
  margin: 0;
  padding: 0;
} */

html, body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family:"Hiragino Sans", sans-serif;
}

h1 {
  display: flex;
  align-items: center;
  gap: 5px;
}